html,
body {
    font-family: Arial, sans-serif!important;
    padding-top: 0px; 
    width:100%!important;
    height:100%!important;
}
.navbar-default {
    background-color:#428BCA;
}
.TopSpacingList {
    height:60px!important;
}
.TopSpacing {
    height:20px!important;
}
.BottomSpacing {
    height:20pt!important;
}
.FormControlSpace {
    height:50px!important;
}

.glyphicon {
    color:white !important;
}
.list-group-item {
    color:#428BCA !important;
    font-size:14px;
    font-weight:600;
}

.glyphicon-cog {
    color:#428BCA!important;
}

.glyphicon-widget-color {
    color:black!important;
}

.glyphicon-widget-color-alt {
    color:#428BCA!important;
}

.RemoveBorder {
border:none!important;

}

.navbar-brand {
color:white!important;
font-size:20px!important;
font-weight:600!important;
}

.navbar-brand-widget-color {
color:#6C6C6C!important;
font-size:20px!important;
font-weight:600!important;
}

.Widget-Image {
  position: relative;
  width: 100%;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url('../images/university-of-oxford-students-walking-on-campus.jpg');
  text-align: center;
  color: white;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
<<<<<<< HEAD
.splitscreen-text {
    margin-top: 15px;
    /*margin-bottom: 15px;*/
}
=======

>>>>>>> 018c92c374362dfeaa86352bc5acf10b9b02d85d
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.td-widget-glyphicon-align {
    display:inline!important;
    vertical-align:top!important;
}
.td-widget-text-align {
    vertical-align:top!important;
    text-justify:distribute-all-lines!important;
}

.background-widget-span {
    background-color:white!important;
}