<nav style="background-color: #F8F8F8" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 pull-left navbar-text ">
                <a class="portraithide" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" target="_self"><span class="glyphicon glyphicon-chevron-left glyphicon-widget-color"></span></a>
            </div>
            <div class="col-xs-9 navbar-brand navbar-brand-widget-color">Widget New</div>
            <div class="pull-right col-xs-1 navbar-text">
                <a ng-click="model.createWidget(widget)" class="pull-right"><span class="glyphicon glyphicon-ok glyphicon-widget-color"></span></a>
            </div>
        </div>
    </div>
</nav>
            <div class="row">
                <div class="TopSpacing">
                    &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="FormControlSpace"></div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" ng-model="widget.widgetType"  class="form-control margin-bottom" ng-init="widget.widgetType = 'YOUTUBE'" disabled/>
                    </div>
                    <!-- <div class="form-group">
                        <label for="headertext">Text</label>
                        <input type="text" id="headertext" name="headertext" ng-model="model.widgets.widgetType"class="form-control margin-bottom" placeholder="Header Text">
                    </div>-->
                    <div class="form-group">
                        <label for="imgUrl">URL</label>
                        <input type="text" id="imgUrl" name="imgUrl" class="form-control margin-bottom" ng-model="widget.url" placeholder="Image URL" value="https://youtube/embed/nehasingh.com/northeastern">
                    </div>
                    <div class="form-group">
                        <label for="imageWidth">Width</label>
                        <input type="text" id="imageWidth" name="imageWidth" ng-model="widget.width" class="form-control margin-bottom" placeholder="Video Width">
                    </div>
                    <div class="FormControlSpace"></div>
                </div>
            </div>
